.ipynb_checkpoints/
top_down/entsoe_transparency_data/
top_down/summary_slp.csv
top_down/summary_power.csv
top_down/summary_industry.csv
top_down/results_industry_temp.xlsx
top_down/results_power_naive.xlsx
top_down/results_slp_temp.xlsx
data/preprocessed.csv
data/dataset_daily.csv
data/dataset_monthly.csv
data/preprocessed.csv
data/dataset_monthly.csv
data/dataset_daily.csv
notebooks/figure_4.pdf
notebooks/figure_3.pdf
notebooks/figure_2.pdf
notebooks/figure_1.pdf
notebooks/results_industry_temp.xlsx
notebooks/results_power_naive.xlsx
notebooks/results_slp_temp.xlsx

*.DS_Store
